<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
    <title>Marvel Neural Network</title>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Classer les héros Marvel</div>
        <p><img src="../static/logo.jpeg" alt="marven neural net logo"></p>
        <p>
            Pour le moment, testez uniquement des images de <strong>Spider man</strong>, <strong>Iron man</strong>, <strong>Captain America</strong>, ou les trois en même temps pour rigoler!
        </p>
        <p>L'analyse se fait à l'aide d'un réseau de neurones à convolutions <a href="https://en.wikipedia.org/wiki/Convolutional_neural_network" title="">(C.N.N.)</a></p>
        <div class='content'>

            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Sélectionnez une image</button>
            <div class='upload-label'>
                <label id='upload-label'>Aucun fichier choisi</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyser</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
